@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');
* {

  box-sizing: border-box;  
}
body, button {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color:#123553;
}

body { 
    
    height: 100vh;
    display: flex;



}

button {
    background-color:#F57359;
    border:none;
    border-radius: 5px;
    width: 151px;
    font-size: 20px;
    padding:0.5em 1em;
  

}

h1 {
    font-weight: 800;
    font-size: 64px;
    margin-bottom:16px;
}
p { font-size:15px;
    line-height: 32px;
    margin-bottom:16px;

}

p, button {
    font-weight: 500;
}


main {
width: 83.33%;
height: 80vh;
background: linear-gradient(to left, #09203F,#537895);
margin: auto;
padding: 1.5em;
display: flex;
justify-content: space-between;
align-items: center;
border-radius:15px;


}

img { width: 100%;}


div { width:41.66%; }

#contenedor { width: 33.33%;}